@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - ContactList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/app.js" defer></script>
</head>
<body>
<header>
    <div class="nav" id="nav">
        @await Html.PartialAsync("_Nav")
    </div>
</header>

<main class="container">
    @RenderBody()
</main>
</body>
</html>