<div id="login-page">
    <h3>Login</h3>
    <form id="login-form">
        <input id="login-email" type="email" placeholder="Email" required />
        <input id="login-password" type="password" placeholder="Password" required />
        <button type="submit">Login</button>
    </form>

    <p>You don't have an account?
        <button id="go-register">Register here</button>
    </p>
</div>