<div id="register-page">
    <h3>Register</h3>
    <form id="register-form">
        <input id="register-email" type="email" placeholder="Email" required />
        <input id="register-password" type="password" placeholder="Password" required />
        <input id="register-repeat-password" type="password" placeholder="Repeat Password" required />
        <button type="submit">Register</button>
    </form>

    <p>Already have an account? 
        <button id="go-login">Log in</button>
    </p>
</div>